@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Nunito:wght@200;300;400;500&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

/*products.jsx*/
.paginate{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 0;
}

.paginate li{
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
}